$prefix-cls: 'index-page';

.#{$prefix-cls} {
  padding: 20px;

  &-pic {
    width: 100%;
    height: 400px;
    background: #dedede;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-shop {
    margin-top: 20px;
  }
}
